@use "./partials/variables" as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~bootstrap/scss/bootstrap";

@import "./partials/mixins.scss";
@import "./partials/global.scss";
@import "./partials/utilities.scss";

// Custom Components
@import "./partials/dropdowns.scss";
@import "./partials/navs.scss";
@import "./partials/buttons.scss";
@import "./partials/cards.scss";
@import "./partials/charts.scss";
@import "./partials/login.scss";
@import "./partials/error.scss";
@import "./partials/footer.scss";

.projectsIndexPagination {
    position: fixed;
    bottom: 0;
    width: calc(100% - 224px);
}
.projectsIndex .buttons {
    top: 0;
    right: 0;
}
.projectsIndex .buttons button {
    color: rgb(165, 33, 33);
    animation: buttonPopup .2s ease-in-out forwards;
    opacity: 0;
}
.projectsIndex .buttons a {
    animation: buttonPopup .2s .5s ease-in-out forwards;
    opacity: 0;
}

/* animations */

@keyframes buttonPopup {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
